:root {
    --primaryColor: #3ab3a7;
    --primaryHover: #0c988a;
    --secondaryColor: #059789;
    --secHoverColor: #253b53;
    --greyColor: #f7f7f7;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    background: var(--primaryColor);
    z-index: 2000;

    .logoDiv {
        .logo {
            color: var(--greyColor);
            font-weight: 600;
            cursor: pointer;
        }
    }
 
    @media screen and (max-width: 768px) {
        .menuDiv {
            background-color: var(--primaryColor);
            position: absolute;
            height: max-content;
            width: 80%;
            border-radius: 10px;
            padding: 1rem;
            top: -700%;
            left: 50%;
            transform: translate(-50%);
            box-shadow: 0 2px 4px rgba(243, 243, 243, 0.904);
            transition: .3s ease;
            z-index: 3000;

            .menuLists {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                align-items: center;
                margin: auto;
                padding: 1rem 0;

                .navItem {
                    padding: 1rem 0;

                .menuLink{
                    color: white;
                    font-size: 15px;
                    font-weight: 500;
                    &:hover{
                        color: var(--secHoverColor);
                    }
                }
            }
        }
        .closeNavbar{
            color: white;
            position: absolute;
            top: 1rem;
            right: 1.5rem;

            .icon{
                font-size: 25px;
            }
            &:hover .icon{
                color: var(--secHoverColor);
            }

        }
    }
    .activenavbar{
        top: 6rem;
    }
    .socialIcons{
        display: none;
    }
    .toggleNavbar{
        color:var(--greyColor);
        font-size: 25px;
        &:hover{
            .icon{
                color: var(--secHoverColor);
            }
        }
    }
}
}